RewriteEngine On
RewriteRule ^fs/(.*)!(.*).swf$ /fs/$1.swf
RewriteRule ^fs/(.*)!(.*).png$ /fs/$1.png
RewriteRule ^fs/(.*)!.swf$ /fs/$1.swf
RewriteRule ^async/ServerAction ServerAction.php
RewriteRule ^async/Ping ping.php
RewriteRule ^logout logout.php